<div id="users-billing-address" class="content partial">
  <%= render :partial => 'sections/floating_menu' %>

  <div id="wrapper" class="red-box clearfix">
    <div class="clearfix">
      <h1 class="page-title">Checkout / Credit Card Information</h1>
    </div>

    <div class="instruction">Please enter your credit card information below.</div>

    <form action="#" class="typical">
      <%= render :partial => 'billing_address_form'  %>

      <div>
        <label>&nbsp;</label>
        <input type="submit" value="Review Order" class="blue-button" />
      </div>
    </form>
  </div>
</div>

<div id="users-billing-address-sidebar" class="sidebar">
  <%= render :partial => 'sections/cart_summary', :locals => {:cart => @cart} %>
</div>