<div id="shared-404" class="content">
  <div class="black-box black-box-gradient">
    <h2>ERROR 404</h2>
    <div class="grey-box grey-box-gradient">Looks like we misplaced the page you're looking for.</div>
  </div>
</div>