<div id="login-no-download" style="display: none" class="login-no-download">
  <div>
    <h1>Become a Virtual Active Member.</h1>
    <div id="error-message" style="display: none;padding-bottom: 5px;"></div>
    <div class="login-content">
      <div class="left" id="register-form" style="vertical-align: middle;">
        <ul>
          <li>Track your purchases</li>
          <li>Receive discount offers</li>
          <li>Learn about new releases</li>
        </ul>
        <div class="button">
          <input type="submit" class="f-button new-user" name="join_va" value="join Virtual Active"></input>
        </div>
        <div class="text">
          <a href="#login-box" rel="facebox">already a member?</a>
        </div>
      </div>
      <div class="right">
        <input type="submit" class="f-button anonymously-user" name="continue-anonymous" value="continue anonymously" ></input>
      </div>

    </div>
  </div>
</div>
<!--<div class="clear-fix">&nbsp;</div>-->