<dt>The All Run Pack</dt>
<dd class="clearfix">
  <div class="image">
    <%= link_to image_tag('sample-image.jpg'), video_pack %>
  </div>
  <div class="detail">
    <div><%= h video_pack.title %></div>
    <div><%= link_to "Detail &raquo;", video_pack %></div>
  </div>
</dd>
