<div class="clearfix">&nbsp;</div>
<div id="pages-contact" class="content partial site-info">
  <div class="red-box">
    <h1 class="page-title">Contact</h1>

    <div class="entry">
      <h2>Virtual Active</h2>
      <div class="grey-box">
        <p>
          Problems with Orders, Shipping, or Order Fulfillment<br />
          <a href="mailto:support@vafitness.com">support@vafitness.com</a>
        </p>
        <p>
          All Other Questions About Virtual Active Home Products<br />
          <a href="mailto:products@vafitness.com">products@vafitness.com</a>
        </p>
        <p>
          Business Development<br />
          <a href="mailto:bizdev@vafitness.com">bizdev@vafitness.com</a>
        </p>
        <p>
          To Confidentially Report Commercial Use of Virtual Active Home Products<br />
          <a href="mailto:report@vafitness.com">report@vafitness.com</a>
        </p>
      </div>
    </div>

    <div class="entry">
      <h2>Partners</h2>
      <div class="grey-box">
        <p>
          Matrix 7xe Virtual Active Cardio Equipment Inquiries<br />
          <a href="www.matrixfitness.com/contact">www.matrixfitness.com/contact</a>
        </p>
        <p>
          IndoorCycling Group MyRideV3 and MyRide Home Inquiries<br />
          <a href="http://indoorcycling.com/icg/index.php/partner-179.html">http://indoorcycling.com/icg/index.php/partner-179.html</a>
        </p>
      </div>
    </div>

    <div class="clearfix">&nbsp;</div>
  </div>
</div>

<div id="pages-contact-sidebar" class="sidebar">
 <% if current_user_session.blank? %>
   <%= render :partial => 'sections/login' %>
 <% end %>
</div>